.about {
  background-color: #0a2850;
  color: white;
  position: relative;
  z-index: 2;
  margin: 0;
  padding: 99px 80px 173px;
  display: flex;
  justify-content: space-between;
}

.about__title {
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
  margin: 1px 0 0 0;
  max-width: 251px;
}

.about__content {
  flex-direction: column;
}

.about__paragraph {
  font-family: "Noto Serif", "Times New Roman", serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  max-width: 660px;
  margin: 20px 0 0 0;
}

.about__circle {
  position: absolute;
  border-radius: 50%;
  z-index: -1;
  width: 426px;
  height: 426px;
  background-color: #2f80ed;
  overflow: hidden;
  padding: 0;
  top: -152px;
  left: -129px;
}

.about__circle_animation_blurred {
  animation: pulsations 1.3s ease-in-out infinite;
}

@keyframes pulsations {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.6;
  }
  100% {
    transform: scale(1.15);
    opacity: 0;
  }
}
