.footer {
  background: linear-gradient(180deg, #0a2850 0%, #071931 100%);
  flex-shrink: 0;
  bottom: 0;
  color: white;
  padding: 60px 80px;
  position: relative;
}

.footer__content {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
}

.footer__social-heading {
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  padding: 0;
  margin: 0 0 4px;
}

.footer__social-link:hover {
  color: #c1c1c1;
  transition-timing-function: ease-in;
}

.footer__social-link {
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  text-decoration: none;
  color: white;
  margin: 0 0 0 10px;
  transition-timing-function: ease-out;
  transition-duration: 1s;
}

.social__icon {
  width: 16px;
  height: 16px;
  margin: 0;
}

.footer__list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer__list-item {
  padding: 0;
  margin: 16px 0 0 0;
}

.footer__logo {
  width: 105px;
  height: 39px;
  margin: 0;
}

.footer__copyright {
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  margin: 108px 0 0 0;
}
