.page {
    min-width: 1100px;
    max-width: 1600px;
    margin: 0 auto;
    font-family: "Inter", Arial, sans-serif;
    font-size: 16px;
    line-height: 20px;
    padding: 0;
}



.header {
    padding: 30px 80px 40px;
    min-height: 720px;
    max-height: 800px;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.header__background {
    z-index: -1;
    background-size: cover;
    position: absolute;
    overflow: hidden;  
    top: 0px;
    height: 825px;
    background-position: right;
    left: 34px;
}

.nav{
    display: flex;
    justify-content: space-between;
}

.nav__logo {
    position: relative;
    width: 105px;
    height: 39px;
    margin: 0;
    padding: 0;
}

.nav__links {
    display: flex;
    padding: 0;
    margin: 0;
    list-style-type: none;
    gap: 20px;
    font-family: "Inter", Arial, sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
}

.nav__link {
    color: black;
    text-decoration: none;
}

.header__title{
    max-width: 729px;
    font-family: "Inter", Arial, sans-serif;
    font-weight: 500;
    font-size: 60px;
    line-height: 72px;
    letter-spacing: -0.6px;
    margin: 183px 0 0;
}

.header__description {
    max-width: 683px;
    max-height: 80px;
    font-family: "Noto Serif", "Times New Roman", serif;
    font-size: 20px;
    line-height: 30px;
    margin: 28px 0 0;
}

.header__span-accent {
    display: block;
    font-family: "Noto Serif", "Times New Roman", serif;
    font-style: italic;
    font-size: 60px;
    line-height: 72px;
    color: #2F80ED;
}

.header__image {
    height: 568px;
    width: 646px;
    position: absolute;
    z-index: -1;
    padding-top: 94px;
    margin-right: -75px;
    margin-left: 720px;
    overflow: hidden;
}

.header__footer {
    display:flex;
    justify-content: space-between;
    margin-top: auto;
    padding: 0;
    font-family: "Inter", Arial, sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: #838383
}

.header__paragraph {
    margin: 0;
}

.content {
    background-color:#0a2750;
    min-height: 900px;
    max-height: 1000px;
    height: 100vh;
    padding-top: 100px;
    background-image: url(../images/background_recipes.svg);

}

.recipes {  
color: white;
}


.recipes__title {
    max-width: 580px;
    padding-top: 100px;
    margin: 0 0 24px 80px;
    padding: 0;
    font-family: "Inter";
    font-style: normal;
    font-weight: 500;
    font-size: 44px;
    line-height: 52px;

}

.recipes__subtitle {
    max-width: 438px;
    margin: 0 0 80px 80px;
    font-family: "Noto Serif";
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 30px;
}

.recipes__videos {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.recipes__iframe {
    width: 480px;
    height: 273px;
    border: none;
    padding: 0;
    margin: 0 17px 17px 24px;

}

.recipes__video-captions{
    display: flex;
    flex-direction: row;
    padding: 0;
    margin-bottom: 215px;
    font-family: "Inter";
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
}


.recipes__video-caption-a {
    margin-left: 260px;
    margin-right: 0px;
    margin-top: 0;
    padding: 0;
}

.recipes__video-caption-b {
    margin-left: 255px;
    margin-right: 0px;
    margin-top: 0;
    padding: 0;
}

.recipes__video-caption-c {
    margin-left: 40px;
    margin-right: 0px;
    margin-top: 0;
    padding: 0;
}

.recipes__video-caption-d {
    margin-left: 220px;
    margin-right: 0px;
    margin-top: 0;
    padding: 0;
}

.reservation{
    min-height: 1000px;
    max-height: 1100px;
    height: 100vh;
    padding-top: 100px;
    background-color: #D9E7FF;
    background-image: url(../images/background_reservation.svg);
    background-repeat: no-repeat;
}

.reservation__form{
    margin: 0 auto;
    border: hidden;
    padding: 100px 0 120px;
}

.form{
    max-width: 385px;
}

.reservation__title{
    font-family: Inter;
    font-style: normal;
    font-weight: 500;
    font-size: 44px;
    line-height: 52px;
    margin:0 0 48px;
    text-align: center;
}

.form__fieldset{
    border: hidden;
    margin: 0;
    padding: 0;

}

.form__input{
    display: block;
    width: 100%;
    font-family: Inter;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    margin:8px 0 32px;
    padding: 0;
    height: 60px;
    text-indent: 10px;
}

.form__label{
    margin: 32px 0 0;
    padding: 0;
}

.form__label_type_checkbox{
    display: flex;
    justify-content: center;
}

.form__button{
    width: 100%;
    font-family: Inter;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    background-color: #2F80ED;
    color: white;
    margin: 0 0 32px;
    height: 60px;
    padding: 0;
    border-radius: 4px;
}

.form__button:hover {
    opacity: 70%;
    transition-timing-function: ease;
    transition-duration: 1s;
}

.form__checkbox{
    width: 20px;
    height: 20px;
    margin: 0 12px 0 0;
    padding: 0;
    text-align: center;
    border-radius: 2px;
}

